
{{#contentFor 'pageStyles'}}
<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="template/css/myCss/users.css">
{{/contentFor}}
<!-- MAIN -->
<main class="site-main">
    <div class="columns container">
        <!-- Block  Breadcrumb-->
        <ol class="breadcrumb no-hide">
            <li><a href="/" title="{{settings.namecompany}}">Trang chủ </a></li>
            <li class="active">Affiliate tracking</li>
        </ol><!-- Block  Breadcrumb-->
        <div class="row">
          {{> frontend/users/sidebar }}
          <div class="col-sm-9">
            <div class="title_box_user_right_all clearfix">
              <h4><i class="fa fa-list" aria-hidden="true"></i>
                <a href="javascript:void(0)">Affiliate Tracking</a>
              </h4>
            </div>
            <div class="box_user_right">
              <div class="search_product_affiliate clearfix">
                <div class="row">
                  <form class="" action="/users/affiliate-tracking" method="get">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        <input type="text" name="name" class="form-control" placeholder="Tên sản phẩm">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="category_id">Danh mục sản phẩm</label>
                        <select class="form-control" name="categoryId">
                          <option value="">Danh mục sản phẩm</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="code">Mã sản phẩm</label>
                        <input type="text" name="code" class="form-control" placeholder="Mã sản phẩm">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="code"> &nbsp</label>
                        <div class="clearfix">

                        </div>
                        <button type="submit" class="btn-red">Lọc sản phẩm</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="table-reponsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr class="active">
                      <th style="width: 40px;text-align: center">#</th>
                      <th>Mã</th>
                      <th>Ảnh</th>
                      <th>Tên sản phẩm</th>
                      <th>Giá</th>
                      <th>Hoa hồng</th>
                      <th>Chia sẻ</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each listProduct as | dataUser dataUser|}}
                    <tr>
                      <td style="text-align: center">{{@key}}</td>
                      <td>{{this.code}}</td>
                      <td style="text-align: center">
                        <img src="{{this.imagePath}}" alt="" style="width: 40px;height: 40px">
                      </td>
                      <td style="color: #777777">
                        <strong>{{name}}</strong>
                      </td>
                      <td>
                        <span class="red price">
                          <strong>
                            {{#if_eq price_sale 0}}
                            {{formatNumber price}}<sup>đ</sup>
                            {{else}}
                            {{formatNumber price_sale}}<sup>đ</sup>
                            {{/if_eq}}
                          </strong>
                        </span>
                      </td>
                      <td>
                        <span class="green price">
                          <strong>
                            {{formatNumber this.price_commission}}<sup>đ</sup>
                          </strong>
                        </span>
                      </td>
                      <td style="text-align: center">
                        <a href="/add-to-cart/{{this._id}}?tracking={{dataUser._id}}" class="btn-sm btn-danger" style="width: 60px;">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                        <a href="{{this.slug}}?tracking={{tracking}}" target="_blank" class="btn-sm btn-success">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                <ul class="pagination">
                  {{#paginate pagination type="previous"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="/users/affiliate-tracking?page={{n}}" >Prev</a></li>
                  {{/paginate}}
                  {{#paginate pagination type="middle" limit="3"}}
                    <li {{#if active}}class="active"{{/if}}><a href="/users/affiliate-tracking?page={{n}}">{{n}}</a></li>
                  {{/paginate}}
                  {{#paginate pagination type="next"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="/users/affiliate-tracking?page={{n}}">Next</a></li>
                  {{/paginate}}
                </ul>
                <!-- {{{paginateHelper pagination}}} -->
              </div>
            </div>
          </div>
        </div>
    </div>
</main><!-- end MAIN -->
<div class="h15"></div>
